

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 255, 255, 0.363);
}

.calculator {
    margin-top: 50PX;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: aqua;
    border-radius: 0PX 0PX 30PX 30PX ;
    border-style: solid;
    
}
p {

    
    font-weight: 900;
    font-size: 40px
}
.inputWindow {
    
    margin-bottom: 10px;
    width: 300px;
    height: 135px;
    background-color: rgb(255, 255, 255);
}

.operatorButtonContainer {
    
}

button {
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border: 20px 1px 1px 1px;
    margin: 1px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 900;
}


button:hover {
    background-color: rgba(255, 255, 255, 0.952);
}