body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 500px;
    width: 300px;
    background-color: rgb(255, 217, 0);
}

.inputWindow {
    width: 3px;
    height: 100px;
    background-color: rgba(235, 203, 24, 0.527);
}

.operatorButtonContainer {}

button {
    padding: 5px 20px;
    background-color: antiquewhite;
    border: none;
    margin: 1px;
}

button:hover {
    background-color: rgba(250, 235, 215, 0.678);
}