body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 255, 255, 0.363);
}

.calculator {
    margin-top: 50PX;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    background-color: rgb(183, 252, 234);
    border-radius: 20PX 20PX 30PX 30PX;
    border-style: solid;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.651);

}
.inputWindow {
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;
    width: 300px;
    height: 135px;
    background-color: rgb(255, 255, 255);
}

p {

    margin-left: 10px;
    font-weight: 900;
    font-size: 40px
}



.buttonContainersCon {
    margin-top: -15px;
    border-radius: 10px;
    background-color: rgb(183, 252, 234);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.ButtonContainer {
    display: flex;
    flex-wrap: wrap;
}
.operatorButtonContainer {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

button {
    padding: 22px 22px;
    background-color: rgb(255, 255, 255);
    border: 20px 1px 1px 1px;
    margin: 3px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 900;
}


button:hover {
    background-color: rgba(181, 252, 234, 0.952);
}